body{
    background-color:  black;
    color: white;
}

nav {
    z-index: 999;
}

.bg-celeste {
    background-color: #2CA1AB !important;
}

.navbar-toggler {
    z-index: 999;
}

#carouselMain {
    margin-top: -60px;
}

hr {
    color: #085E6B;
    background-color: #085E6B;
    opacity: 1 !important;
    height: 3px !important;
}

section {
    padding: 50px 50px 50px 50px;
}

h2 {
    text-align: center;
}

.rectangulo {
    background-color: #12A3B8;
    width: 100%;
    height: 50px;
    font-size: 30px;
    text-align: center;
}
 

#destacados .contenido {
    padding-left: 50px;
    padding-right: 50px;
}
  
#destacados .card{
    background-color: #12A3B8;
    width: 100% !important;
}   
